@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* ----------------------------------------------- */


/* BASIC SETUP */


/* ----------------------------------------------- */

html {
    scroll-behavior: smooth;
}

html,
body {
    overflow-x: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* font-family: Georgia, "Times New Roman", Times, serif; */
    position: relative;
    background-color: rgb(28, 29, 34);
    color: white;
}

.sc,
.sc2 {
    visibility: hidden;
}


/* ----------------------------------------------- */


/* CAROUSEL */


/* ----------------------------------------------- */

.carousel-item {
    width: 100vw;
    height: 75vh;
}


/* ----------------------------------------------- */


/* TOP NAV */


/* ----------------------------------------------- */

#topnav {
    width: 100%;
    position: absolute;
    margin: 0;
    top: 75vh;
    background-color: rgb(28, 29, 34);
    height: fit-content;
    padding: 1vh 0;
    color: white;
    border: 3px solid rgb(153, 152, 152);
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    /* font-family: "Roboto", sans-serif; */
    z-index: 2;
}

#topnav .col-3 {
    font-size: 1.5vw
}

#topnav .col {
    margin: auto;
    font-size: 0.7vw;
    letter-spacing: 2px;
    /* background-color: lightgray; */
}

#topnav a {
    -webkit-transition: color 0.4s ease-in-out;
    transition: color 0.4s ease-in-out;
    color: white;
}

#topnav a:hover {
    color: red;
    text-decoration: none;
}

#icons {
    padding-right: 5vw;
}

#icons a {
    font-size: 1.5vw;
    margin: 0 0.6vw;
    text-decoration: none;
    color: rgb(187, 186, 186);
    -webkit-transition: color 0.4s ease-in-out;
    transition: color 0.4s ease-in-out;
}

#icons a:hover {
    color: red;
}

#teams {
    position: relative;
}

#teams-list {
    display: none;
    list-style: none;
    position: absolute;
    top: 0vh;
    background-color: rgb(28, 29, 34);
    /* background-color: lightslategray; */
    text-align: left;
    padding-left: 10%;
    line-height: 5vh;
    width: 100%;
    z-index: 0;
    padding-top: 50px;
    cursor: pointer;
}


/* ----------------------------------------------- */


/* WELCOME */


/* ----------------------------------------------- */

#welcome {
    background-color: rgb(28, 29, 34);
    color: white;
    height: 90vh;
}

#welcome .col {
    margin: auto;
    padding: 0 10vw 0 5vw;
}

#welcome p {
    opacity: 0;
    font-size: 2.5vw;
    /* font-family: 'STIX Two Text', serif; */
}

#welcome span {
    opacity: 0;
    font-size: 1vw;
}

.line-1 {
    font-family: 'Anonymous Pro', monospace;
    top: 50%;
    width: 13em;
    margin-bottom: 3vh;
    border-right: 2px solid rgba(255, 255, 255, .75);
    white-space: nowrap;
    overflow: hidden;
    /* transform: translateY(-50%); */
}


/* Animation */

.anim-typewriter {
    animation: typewriter 2.5s steps(44) 1s 1 normal both, blinkTextCursor 700ms steps(44) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 13em
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, .75);
    }
    to {
        border-right-color: transparent;
    }
}


/* ----------------------------------------------- */


/* MOTTO */


/* ----------------------------------------------- */

#motto {
    background-color: gray;
    height: 70vh;
    color: white;
    left: -5vw;
    position: relative
}

#motto .col {
    height: inherit;
    display: table;
    text-align: center;
    padding-top: 32.5vh;
}

#motto .header {
    font-size: 1.5vw;
}

#motto .content {
    font-size: 1vw;
}

#motto .col::before {
    content: "";
    background-image: url("../img/placeholder.jpg");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.2;
    /* z-index: 999; */
}


/* ----------------------------------------------- */


/* TEAM */


/* ----------------------------------------------- */

#team {
    display: flex;
    align-items: center;
    text-align: center;
    height: fit-content;
    font-size: 1vw;
    padding: 8% 0%;
    left: -5vw;
    position: relative
}

.line-card-team {
    width: 10vw;
    height: 2px;
    margin: auto;
    margin-top: 1vh;
    margin-bottom: 1vh;
    background-color: rgb(92, 141, 46);
}

#team p {
    font-size: 4vw;
}

#team span {
    color: rgb(158, 158, 158);
    /* font-family: Tahoma, sans-serif; */
}

.btn-one {
    transition: all 0.3s;
    position: relative;
    margin: auto;
    margin-top: 1%;
    font-size: 1vw;
    margin-top: 5vh;
    transition: all 0.3s;
    color: rgb(202, 255, 177);
    display: flex;
    width: 10%;
    justify-content: center;
}

.btn-one::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(255, 255, 255, 0.5);
    border-bottom-color: rgba(255, 255, 255, 0.5);
    transform: scale(0.1, 1);
}

.btn-one:hover {
    letter-spacing: 2px;
    color: rgb(202, 255, 177);
}

.btn-one:hover::before {
    opacity: 1;
    transform: scale(1, 1);
}

.btn-one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255, 255, 255, 0.1);
}

.btn-one:hover::after {
    opacity: 0;
    transform: scale(0.1, 1);
}


/* ----------------------------------------------- */


/* QUOTE */


/* ----------------------------------------------- */

#quote {
    height: 100vh;
    left: -5vw;
    position: relative
}

#quote .col-3 {
    height: inherit;
    background-color: rgb(179, 179, 179);
}

#quote img {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 80%;
    width: 130%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    z-index: 1;
}

#quote .col {
    background-color: rgb(179, 179, 179);
    background-color: rgb(68, 0, 0);
    height: inherit;
    padding: 35vh 20vw 0 20vw;
    text-align: end;
}

#quote p {
    font-size: 2.5rem;
    font-style: italic;
}

.line-card-quote {
    width: 10vw;
    height: 2px;
    margin-top: 5vh;
    margin-bottom: 5vh;
    background-color: rgb(255, 0, 0);
    float: right;
}

#quote .clear {
    /* font-family: "Lucida Sans Unicode", sans-serif; */
    font-size: 1.6rem;
    clear: right;
    margin-bottom: 1%;
}

#quote span {
    /* font-family: "Lucida Sans Unicode", sans-serif; */
    font-size: 1.2rem;
    color: rgb(202, 202, 202);
}


/* ----------------------------------------------- */


/* COMMENTS */


/* ----------------------------------------------- */

#comments {
    background-color: white;
    color: black;
    padding: 20vh;
    width: 90%;
}

#comments p {
    font-size: 2.5rem;
}

#comments span {
    font-size: 1.5rem;
}

#comments h5 {
    font-style: italic;
}

.commentboxes {
    margin-top: 10vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    background-color: beige;
    display: flex;
    align-items: center;
    text-align: center;
}

.comment {
    opacity: 0;
}

.comment img {
    margin-bottom: 5%;
}

.line-card-comment {
    width: 10vw;
    height: 2px;
    background-color: rgb(255, 0, 0);
    margin: auto;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.comment q {
    font-size: 1.2rem;
}


/* ----------------------------------------------- */


/* CONTACT */


/* ----------------------------------------------- */

#contact {
    background-color: rgb(226, 226, 226);
    color: black;
    height: 30vh;
    width: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    -webkit-transform: translate(0, -20%);
    transform: translate(0, -20%);
}

#contact img {
    width: 80%;
    margin-bottom: 5%;
}

#contact .col-4 {
    padding: 0 2vw;
}

#contact .col-6 {
    /* background-color: black; */
    margin-top: 5vh;
    font-size: 1.3rem;
}

#copyright {
    color: rgb(149, 149, 149);
    /* font-family: Calibri, sans-serif; */
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 1.1rem;
}